/*Custom Properties*/
:root {
  --font-primary: "Roboto", sans-serif; /* Variable para el tipo de letra principal  500 para titutlos  400 para texto*/
  --background-color: #ffffff; /* Variable para el color de fondo */
  --text-color: black; /* Variable para el color de texto */
  --primary-color: #007bff; /* Variable para el color primario */
  --primary-red-color: #ed1d17; /* Variable para el color rojo primario */
  --secondary-red-color: #f2cfce; /* Variable para el color rojo primario - boton no seleccionado */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
